# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn
boards/Baseboard/Baseboard-rescue.lib
boards/Baseboard/Baseboard.html
boards/Baseboard/Baseboard.xml
boards/nixie.cfg
